<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="newPostgreStr" connectionString="postgres://postgres:postgrespw@localhost:49157;"/>
		<add name="postgreStr" connectionString="Server = 127.0.0.1;Port=49153; Database = postgres; User Id = postgres; Password = postgrespw;"/>



	</connectionStrings>
</configuration>